@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <label>Message</label>
        <input type="text" id="txtmsg" />
        <br />
        <button id="btnsendmsg">Send</button>
    </div>

    <div>
        <label>Messages</label>
        <ul id="lstmessages">
        </ul>
    </div>
</div>
